@model IEnumerable<BirthdayPerson>

@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="text-center">
    <h4 style="text-align: left; color: #146c43" >Все дни рождения</h4>

    <table class="table table-hover">
        <thead>
        <tr>
            <th>Портрет</th>
            <th>ФИО</th>
            <th>Дата рождения</th>
            <th>Функция</th>
        </tr>
        </thead>
        <tbody class="text-center">
        @foreach (var person in Model)
        {
            <tr>
                <td>
                    <img class="rounded-circle" height="35" src="~/img/@(person.PhotoLink ?? "default.jpg")" alt="Костыль"/>
                </td>
                <td> @($"{person.Lastname} {person.Name} {person.Surname}")</td>
                <td> @($"{person.BirthDate:dd/MM/yyyy}")</td>
                <td>
                    <form method="get">
                        <input hidden="hidden" value="@person.Id" name="id">
                        <input type="submit" class="btn-outline-warning" value="Удалить" formaction="@Url.Action("DeleteBirthday")">
                        <input type="submit" class="btn-outline-danger" value="Изменить" formaction="@Url.Action("EditBirthday")">
                    </form>
                </td>
            </tr>
        }
        </tbody>
    </table>

</div>